html {
  background: white;
}

body {
  background: #aaa;
  margin: 0 auto;
  width: 40em;
  padding: 2em;

  border: 1.5em solid black;
  border-top: 0;
  border-bottom: 0;
}

li.album {
  background: #bbb;
  margin: 2px;
}

.tags {
  background: #ccc;
}

/* stuff with an onclick for in-place editing */
.inPlace {
  padding: 0.1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8em;
}

.score {
  padding: 0.3em;
  display: block;
}

.star {
  font-size: 2em;
  cursor: pointer;
}

.star.selected {
  color: red;
}

.ipodDl {
  font-size: 2em;
  cursor: pointer;
}
