$def with (artists, albums)

<link rel="stylesheet" href="static/main.css">

<script src="static/jquery.js"></script>

<script src="static/tag-in-place.js"></script>
<script src="static/score.js"></script>
<script src="static/ipod.js"></script>

<title>All albums, by artist</title>

<h1>All albums, by artist</h1>

$def show_albums(artist_uri):
    <ul>
      $for title, album_uri in albums[artist_uri]:
          <li class="album" about="$album_uri.uri">$title
            $ r = int(rating(album_uri) / 2)
            <span class="score" property="nao:numericRating" content="$r">
              $# filled stars
              $for i in range(r):
                  <span class="star selected">★</span>
              $# empty stars
              $for i in range(5-r):
                  <span class="star">☆</span>
            </span>
          </li>
    </ul>

<ul>
$for name, artist_uri in artists:
    <li class="artist" about="$artist_uri.uri">$name
      <span class="tags">
      $for tag in tags(artist_uri):
          $tag
      </span>
      $:show_albums(artist_uri)
    </li>
